<div *ngIf="product.title"
     class="card one-edge-shadow"
     style="width: 18rem; margin-right: 40px; margin-left: 40px;">
    <img
        class="card-img-top"
        [src]="product.imageUrl"
        alt="{{product.title}}"
        style="width: 17.8rem; height: 15rem; padding: 5px;"
        *ngIf="product.imageUrl">
    <div class="card-body">
        <h5
          class="card-title">{{product.title}}
        </h5>
        <p
          class="card-text">{{product.price | currency:'USD'}}
        </p>
        <div
          class="card-footer"
          *ngIf="isBtnVisible && shoppingCart">
            <button
                class="btn btn-secondary btn-block"
                (click)="addToCart()"
                *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity">
                Add to cart
            </button>
            <ng-template #updateQuantity>
                <product-quantity
                [product]="product"
                [shoppingCart]="shoppingCart">
                </product-quantity>
            </ng-template>
        </div>
    </div>
</div>
